@font-face {
    font-family: 'news_cycleregular';
    src: url('../Harsanyi_Krisztina/FONT/newscycle-regular-webfont.eot');
    src: url('../Harsanyi_Krisztina/FONT/newscycle-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Harsanyi_Krisztina/FONT/newscycle-regular-webfont.woff') format('woff'),
         url('../Harsanyi_Krisztina/FONT/newscycle-regular-webfont.ttf') format('truetype'),
         url('../Harsanyi_Krisztina/FONT/newscycle-regular-webfont.svg#news_cycleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 90% Arial, Helvetica, sans-serif;
  color: #000;
  background: #FFFFFF;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#main{
	height: 100%;
	background-color: #9D9F94;
}
article, footer, header, section { 
  display:block;
}

article #presentation{
	height: 200px;
	text-align: center;
	border: solid;
	border-radius: 10px;
	background-color: #9D9F94;
}

#list_musique{
	height: 150px;
	width: 505px;
	text-align: center;
	position: relative;
	left:514px;
	background-color: #9D9F94;
	bottom:-5px;

}

#player_musique audio{
	height: 150px;
	width: 505px;
	position: absolute;
	text-align: center;
	background-color: #9D9F94;
	left:440px;
	top:360px;
}


p
{ padding: 0 0 10px 0;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3
{ font: normal 190% 'news_cycleregular', Arial, sans-serif;
  color: #000;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

h2
{ font: normal 175% 'news_cycleregular', Arial, sans-serif;}

h3
{ font: normal 130% 'news_cycleregular', Arial, sans-serif;}

a, a:hover
{ 
  background: transparent;
  font-weight: bold;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;
  list-style-type: none; 
  margin-left:0;
padding-left:0;
}

  header{
  text-align: center;
  height: 150px;
  background: #73D7CB;
  background: -moz-linear-gradient(#E63E35, #73D7CB);
  background: -o-linear-gradient(#E63E35, #73D7CB);
  background: -webkit-linear-gradient(#E63E35, #73D7CB);}

  header>img{
  position:absolute;
  top: 0px;
  left: 440px;
  }

  header>form{
  	box-shadow: 5px 5px 6px rgba(0,0,0,0,2);
	border-radius: 15px;
	font-family: sans-serif;
	width: 200px;
	margin-left: 780px;
	margin-top: -33px;
	padding: 13px;
  }

  header>h1{
  	text-align: center;
	position: relative;
	top: 50px;
  	font-size: 35px;
	color: white;
	padding: 5px;
	letter-spacing: 10px;
  }

  footer{
  height: 100px;
  background: #E63E35;
  background: -moz-linear-gradient(#E63E35, #73D7CB);
  background: -o-linear-gradient(#E63E35, #73D7CB);
  background: -webkit-linear-gradient(#E63E35, #73D7CB);
 }

 footer>p{
  text-align: center;
  color: white;
  letter-spacing: 10px;
  font-size: 15px;
  position: relative;
  top:55px;
}

section img{
	/* float:left;  */
}

section{
	height:2000px;
}
section #comp_1, #comp_2, #comp_3, #comp_4, #comp_5, #comp_6, #comp_7{
	margin:10px;
	height:500px;
	width:360px;
	position: relative;
	top: 10px;
	text-align: justify;
	border: solid;
	font-size: 12px;
}

section #comp_1 article{
	display: block;
	width:200px;
	position: relative;
	left:160px;
	bottom:195px;
}

section #comp_1 #list_film{
	display: block;
	width:200px;
	position: relative;
	left:0px;
	bottom:455px;
	text-align: justify;
	font-size: 11px;
}

 section .contact{
	display: block;
	position: relative;
	top:1700px;
}