body{
	postion:center;
	width:1080px;
	height:1200px;
	background-color: #B0E0E6;
	margin:auto;

}

body h3{
	font-family: trebuchet MS;
	text-decoration:underline ;
}

/* HEADER */
#wrapper>header>#intro p{
	font-size: 18px;
	font-family: calibri;
	width:324px;
	background-color: blue;
	margin-left: 200px;
	margin-top: -126px;
}

#wrapper>header>#intro{
	background-color: #66CDAA;
	width:1080px;
	height:289px;
}

#wrapper>header>#intro>#connexion>form{
	width:451px;
	/*height:87px;*/
	background-color: #1E90FF;
	margin-left: 629px;
	margin-top: -65px;

}

#wrapper>header>#intro>#details{
	font-family: gabriola;
	background-color: #E6E6FA;
	margin-top: -4px;
}

/* HEADER menu */
#wrapper>header>#menu{
	width:1080px;
	margin-top: 0px;
}


#wrapper>header>#menu ul{
	display:inline-block;
	margin:0;
 	padding:0;
 	list-style-type:none;
 	text-align:center;
}

#wrapper>header>#menu li {
	color:white;
	height:54px;
	width:180px;
	float:left;
	margin:auto;
	padding:0;
	background-color:#D2B48C;
}

#wrapper>header>#menu a li{
	float:left;
	margin:auto;
	padding:0;
	background-color:orange;
}

#wrapper>header>#menu li a {
	display:block;
	width:100px;
	color:white;
	text-decoration:none;
	padding:5px;
}

#wrapper>header>#menu li a:hover {
	color:#FFD700;
}

#wrapper>header>#menu ul li ul {
	display:none;
}

#wrapper>header>#menu ul li:hover ul {
	display:block;
}

#wrapper>header>#menu li:hover ul li {
	float:none;
}

#wrapper>header>#menu li ul {
	position:absolute;
}
/* FIN DE HEADER menu */

#wrapper>header p{
	background-color: #1E90FF;
	font-family: gabriola;
	font-size: 21px;	
	margin-top: -5px;
}

/* FIN DE HEADER */

/* CONTENT */

#content>#programme>#boutons {
	width: 1080px;
	background-color: #FAEBD7;
	margin-top: -20px;
}

#content>#programme>#boutons img{
	/*display: inline-block;*/
	margin-left: auto;
    margin-right: auto;
	width:100px;
}

#content>#programme p{
	background-color: #1E90FF;
	font-family: gabriola;
	font-size: 21px;	
	margin-top: 1px;
}

#content>#compo{
	background-color: #66CDAA;
	margin-top: -12px;
}

#content>#compo> div:nth-of-type(even){
	background-color: #E0FFFF;
	font-family: verdana;
}

#content>#compo> div:nth-of-type(odd){
	background-color: #DEB887;
	font-family: corbel;
}

#content>#compo h3{

	font-family: trebuchet MS;;
}

#content>#autres_films{
	background-color: #F0FFF0;
	margin-top: -36px;
}
/* FIN DE CONTENT */

/* FOOTER */

#fin>footer>#infos{
	font-family: arial;
	background-color: #F4A460;
}

#fin>footer>#resa{
	font-family: arial;
	background-color:#FFD700;
	margin-top: -17px;
}

#fin>footer>#pub{
	/*background-color:red;
	height:15px;
	width:1080px;*/
	margin-top: -18px;
}


/* FIN DE FOOTER */