
/*-----------------------------------------------/

   _____ ____  _   __________ __     ______  __   _____ __________ 
  / ___// __ \/ | / / ____/ // /    / __ ) \/ /  / ___// ____/ __ )
  \__ \/ / / /  |/ / / __/ // /_   / __  |\  /   \__ \/ __/ / __  |
 ___/ / /_/ / /|  / /_/ /__  __/  / /_/ / / /   ___/ / /___/ /_/ / 
/____/\____/_/ |_/\____/  /_/    /_____/ /_/   /____/_____/_____/  
                                                                   

Auteur: Seb

Date: 28/03/2014

version : 1.0
/*********************************************************/



/*FORMULAIRE*/


#formulaire{
	position: relative; right;
    display: inline-block;
background-color: grey;
 padding: 15px; 
    margin: 0 auto 2em;
   width: 250px;
height: 110px;
border-right: 150px;
text-align: center;
}

/*FIN DU FORMULAIRE*/



/*LOGO*/

#logo{
border-image: 10px;
	background size: auto 50%;
	 padding: 15px; 
    margin: 0 auto 2em;
    width: 50px;
	height: 50px;
	
	}


	
/*FIN LOGO*/


/*MENU*/
#menu{
		
		display: inline-block;ound-color: black;
		 padding: 15px; 
    margin: 0 auto 2em;
	width: 80px;
height: 400px;
a.bouton {
  color: white;
  background-color: #000080;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
a.bouton:hover {
  background-color: #6495ED;
  background-image: url(images/bouton.jpg);

}

/*FIN DU MENU*/



/*SLIDESHOW*/

#slideshow{
	display: inline-block;
background size: auto 50%;
moz-background-size: 100% 100%;           
         -o-background-size: 100% 100%;          
    -webkit-background-size: 100% 100%;           
            background-size: 100% 100%
  position: relative; 
    width: 150px; 
    height: 150px; 
    overflow: hidden; 
    transition: left 1s;

    padding: 15px; 
    margin: 0 auto 2em; 
    border: 1px solid #ddd; 
    background: #FFF; 
    
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD); 
    border-radius: 2px 2px 2px 2px; 
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);  

  }

/* FIN DU SLIDESHOW*/



#composition{
display: inline-block;
background-color: black;
font-family:"impact",Georgia,Serif;

	position: relative; 
width: 200px;
height:200px;
 padding: 15px; 
    margin: 0 auto 2em;

}
