
body{
	background-color: white;
}

#compositeur{
	margin: auto;
	width:1000px;
}
#compositeur img{
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-top: 100px;
	margin-left: 40px;
}

#compositeur div {
	display: inline-block;
	width: 300px;
	vertical-align: top;
}

#compositeur ul {
	margin-left: 10px;
}


#connexion img{
	width: 50px;
	margin-right: 12px;
}

#connexion input[type="submit"]{
	float: right;
	position: absolute;
	top: 20px;
	background-color: pink;
	border: none;
}


#connexion{
	position: fixed;
	right: 140px;
	top: 0px; 
}
#menu{
	width:400px;
	margin-top: 240px;
	margin-left: 40px;
	display: inline-block;
	vertical-align: top;
	color:orange;
}

#menu li{
	background-color: pink;
}


#wrapper{
	display: inline-block;
	margin-left: 100px;
	right: 140px;
	bottom: 0px; 
}

#wrapper section:first-child{
	background-color: gray;
	padding: 20px;
}

#reseaux_sociaux img{
	width: 42px;
	height: 42px;
		
}

#reseaux_sociaux{
	position: fixed;
	right: 10px;
	bottom: 0px;
}


