html{
	font-size:100%;
	width:1024px;
	margin: auto;
}

body{
	border:solid 1px black;
	margin:0;
}

/* HEADER */
header{
	position:relative;	
	height: 170px;
	background-color:#2ADDFF;
}


#log{
	font-size:18px;
	background-color:#2ADDFF;
	display:inline-block;	
	position:absolute;	
	right:0;
	width: 400px;
	text-align:center;
}
#log a{
	text-decoration: none;
}
#log a:hover{
	color:red;
}

#menu{
	background-color:#000;
	margin:0;
	padding:10px;
	margin-top:-5px;
}

#menu li{
	padding-left:140px;
	text-align:center;
	display: inline-block;
}

#menu li>a{
	text-decoration: none;
	color:white;
}

#menu li>a:hover{
	color:red;
}

/* FIN HEADER */

/* CONTAIN */

#wrapper{
	background-color:#B1BCBC;
	margin-top:38px;
}

#wrapper>h1{
	text-align: center;
	margin:0;
}

	/* SLIDE */
	#wrapper #ecran{
		position:relative;
		margin:auto;
		width: 600px;
		height: 400px;
		overflow: hidden;	
	}

	#slide{
		position:relative;
		height: 100%;
		width: 400%;
	}

	#wrapper #ecran #slide{
		animation: slidehibou 15s ease infinite;
		-webkit-animation: slidehibou 15s ease  infinite;
		-moz-animation: slidehibou 15s ease  infinite;
	}


	@-moz-keyframes slidehibou{
		0%, 11%{left:0;}
		22%, 44%{left:-100%;}
		55%, 77%{left:-200%;}
		88%, 100%{left:-300%;}
	} 

	#wrapper>h3{
		width: 300px;
		margin:auto;
		text-align:center;
	}

	#wrapper>p{
		width: 300px;
		margin:auto;
		text-align:center;
	}
	/* FIN SLIDE */

	/* PARTICIPANTS */

	#wrapper #participants h2{
		text-align:center;
		color:blue;
	}

	#wrapper #participants p{
		text-align:center;
	}

	#wrapper #participants{
		background-color:grey;
	}

	#wrapper #participants .compositeur{
		width: 200px;
		display:inline-block;
		margin:25px;
	}

	#wrapper #participants h3{
		text-align:center;
		color:black;
	}

	#wrapper #participants a{
		text-decoration: none;
		color:blue;
	}
	
	#wrapper #participants a:hover{		
		color:red;
	}

	#wrapper  ul{
		list-style-type:none;
	}

	/* FIN PARTICIPANTS */

	/* FICHE */
	#wrapper #fiche .profil{
		/* display:none; */
		width: 400px;
		margin:auto;
	}

	#wrapper #fiche a{
		text-decoration: none;
		color:blue;
	}

	#wrapper #fiche a:hover{		
		color:red;
	}

	#wrapper #fiche .portrait{
		width: 150px;
		height: 100px;
	}

	#wrapper #offre{
		display:inline-block;
		width: 300px;
		margin-left:350px;		
	}
	#wrapper #offre img{		
		width:300px;
	}

	/* FIN FICHE */

/* FIN CONTAIN */

/* FOOTER */
footer ul{
	margin-left:80px;
	width:200px;
	font-size:10px;
	display:inline-block;
	list-style-type:none;
}
footer{
	margin-top:-16px;
	background-color:#2ADDFF;
}
footer #sociaux{
	width: 100px;
	margin:auto;
}
footer p{
	color:red;
	text-align:center;
}
/* FIN FOOTER */