



/********************************

*	Projet : RPID6
*	Auteur : JS
*	date : mars 2014
*	Version : 1.0

********************************/

/* font */

@font-face{
	font-family: 'CaviarDreams';
	src: url('../fonts/CaviarDreams.ttf');
	src: url('../fonts/CaviarDreams.ttf') format('truetype'),
	url('../fonts/CaviarDreams.eot') format('embedded-opentype'),
	url('../fonts/CaviarDreams.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* fin de font */
/* global */

p{font-family: 'CaviarDreams',sans-serif;font-size: 1em;}
h1{font-family: 'CaviarDreams',sans-serif;font-weight: bold;font-size: 1.2em;text-align: center;}

/* fin global */

/* header */

	header{width: 100%;position: relative;}
	#titre{font-family:'CaviarDreams',sans-serif;font-size: 3em;text-align: center;height: 80px;text-shadow: 1px 2px 3px #000000;color:#ffe325;font-weight: bolder;}
	#compte{width: 354px;height: 60px;position: absolute;right: -50px;top: 0;background-color: rgba(255,255,255,0.2);color: #000;padding:5px;box-shadow: -3px 3px 3px rgba(0,0,0,0.5);}
	#compte>a{float:left;margin-top: 15px;color: #fff;}
	form{display: block;float:left;width: 274px}
	form>fieldset{display: inline-block;width:100px;border:none;padding: 5px;}
	form>fieldset>input{width:90px;}
	article{text-align: center;}
	form>input{float:right;;margin: 25px 0 0;border: none;}

	/* fin header */

/* body */


body{width: 100%;color: rgba(255,255,255,1);margin:0;background: url(../img/fond.jpg) no-repeat center top;font-family:'CaviarDreams',sans-serif; }
#global{width:1024px;margin: 0 auto;}
section{display: block;}
section>ul{width: 100%;display: block;}
section>ul>li{display: inline-table;width: 200px;height:310px;margin-left: 35px;background-color: #fff;box-shadow: 0 0 5px #000000;}
section>ul>li:nth-child(5){margin: 40px 0px 0px 150px;}
section>ul>li:nth-child(6){margin-top: 45px}
section>ul>li>a{height:150px;background-color: blue;display: block;border-bottom:3px solid #ffe325;}
.JohnWilliames{background: url(../img/JohnWilliames.jpg) no-repeat;}
.JerryGoldsmith{background: url(../img/JerryGoldsmith.jpg) no-repeat;}
.JamesHorner{background: url(../img/Jameshorner.jpg) no-repeat;}
.HansZimmer{background: url(../img/HansZimmer.jpg) no-repeat;}
.DannyElfman{background: url(../img/DannyElfman.jpg) no-repeat;}
.AlanSilvestri{background: url(../img/AlanSilvestri.jpg) no-repeat;}
.hitaishi{background: url(../img/hitaishi.jpg) no-repeat;}
section>ul>li>ul{padding:0;list-style-type: none;text-align: center;}
section>ul>li>ul>li>a{text-decoration: none;color:#a50a06;}

/* fin body */

	/* footer */

footer ul{height:100px;display: block;margin:35px 0px 10px 0px;}
footer>ul>li{display: inline-block;width:150px;height:80px;}

#copyright{width: 340px;float:left;}
#social{width:340px;float:left;height:15px;}
#contact{width:340px;float:left;text-align: right;}
#contact a{color:#fff;text-decoration: none;}
	/* fin footer */
	


	/* utile : 
		~
	*/